<a href="https://colab.research.google.com/github/MelAGndy/DataAnalysis-PythonProjects/blob/main/Capstone081322minuscharts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>






























































































































#**– Introduction –**
#Vision Zero Vehicle Crash/Collision Report
* What is the goal of your project?
* What are you investigating 
* Why is it important?

**Vision Zero was first adopted by New York City in 2014.**


Sweden first developed this strategy in the 1990’s. Vision Zero has been eliminating traffic fatalities and severe injuries across Europe while increasing safe, healthy, equitable mobility for all. After years of proved successful implementation across Europe major cities accross the Unitied States have started successfully utilizing these strategies.


##**– Data sources –**

  * Data Provided by Police Department (NYPD) City of New York Open Data
    * https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Person/f55k-p6yu
    The Motor Vehicle Collisions person table contains details for people involved in the crash. Each row represents a person (driver,occupant,pedestrian,bicyclist,..) involved in a crash

    The police report (MV104-AN) is required to be filled out for collisions where someone is injured or killed,or where there is at least $1000 worth of damage

      * UPDATE:
        * April 19,2022
      * RECENT UPDATE: 
        * August 3,2022

* INITIAL IMPORT FILE: 
    * Date range:  2012-07-01 00:00:00  -  2022-07-30 00:00:00      
      * Rows:  4,757,334
      * Columns:  21
* AFTER UPDATE: 
    * Date range:  2012-07-01 00:00:00  -  2022-08-01 00:00:00
      * Rows:  4,759,121
      * Columns:  21

##**- DF totals -**

* AFTER CLEANING: 
  * Date range:  2018-01-01 00:00:00  -  2022-08-01 00:00:00
    * Rows:  4,288,654
    * Columns:  15

* CATEGORIES:   
 * Bicyclists:
   * 2012-update on file
       * Rows:  56,994
       * Columns:  23
   * 2018-update on file
       * Rows:  29,681 
       * Columns:  23
   * 2018
       * Rows:  6,052
       * Columns:  23
   * 2019
       * Rows:  
       * Columns:  
   * 2020
       * Rows:  
       * Columns:  
   * 2021
       * Rows: 
       * Columns:  
   * 2022-update on file
       * Rows:  
       * Columns:  
---

##**– Methodologies –**
* Python libraries
  *   pandas - Primary data structure library
  *   numpy - Useful for scientific computing
  *   matplotlib.pyplot - Useful for plotting and graphing
  *   seaborn - Advanced plotting and graphing,built upon the matplotlib 
* data cleaning
  *   Checking for duplicates,null values,missing or corrupt data
  *   Dropping rows with missing values
  *   Decriptives/Exploring
  * Grouping and looking at the values according top Gender and Age. 
  *   Narrowing the PERSON_TYPE to Bicycling
* transformations,etc.
  *   Attempting to correct/replace/coerrce the Age values
  *   Replacing missing values
  *   Dropping columns
  *   Creating New Date Columns
  *   Converting date and time columns to to their specified data types
  *   strftime() - datetime to string
* types of visualizations
  * plt
    * barh
    * plot.pie
  * sns
    * relplot
    * subplots
   * scatter plot
   * FacetGrid,barplot



> ***important notes:

>>  After querying when to change age from float to an integer considering this is police data:



>>>   "Working on a project to evaluate under-aged drinking (from a legal standpoint)? Then you should use the rounded down int value (eg if legal age is 16 and a person is 15.9,legally they are 15 and therefore under-aged drinking)" - https://stackoverflow.com/questions/67329095/when-should-you-convert-age-column-in-float-or-int

 >***FACTCHECK**
This is an analysis of  Bicycists involved in collisions and or crashes These incidencts are classified by date and time resulting in a Unique ID,Collision ID assigned by the NYPD (City of New Yorks Department of Motor Vehicles). 

 >Each year: list or show number of bicyclists are injured or killed,affected because of? Where they using safty equpment? FOR FUTURE ANALYSIS: *** fact check this
 Is Green Space and the Colaboration with CitiBike working? 
 How are the areas affected being addressed? Are they? Do the areas coincide with the planned expansions of CitiBike? 
 ecspecially in relation to the areas that citibike is expanding into. 
 (FUTURE CONSIDERATION: need to cross compare analysis first to other collision and crash data['COLLISION_ID'] to get geolocation data. Compare in relation to Vision Zeros expansion and future projections. Then compare that to the to citibike expansion data.)

 Grab contributing factors and do and analysis on those also


---


##**– Findings and conclusions –**

* What did you learn from the data? 
* Person Injury:
>>>Injured 22916
>>>Unspecified 6664
>>>Killed 101
  * The peak hours of incidents involving bicyclists are during the late after noon to early evening. These times correspond to high traffic times.
  * The warmer months are also showing that more accidents are happening between the months of May and October. 
    * June July and August holding the highest amounts of incidents.
  * Men are more involved in the reported incidents. 
  * Most victims of the incidents are fully concious and survive

* Was it what you expected?
* That this would be a long mystery of figuring out coding,ploting along with applyig statistical and analytical thinking? As far as the data. I have yet to be able to know if my expectations that the city greenzoning has had a direct affect on Crashes involving biclyists. 
* Has NYC Vision zero made an impact on the safety of NYC? Further analysis will be needed. 
* What kind of recommendations can be presented to NYC to improve the program?
Further analysis will be needed.
* What seems to be working or not working?
Further analysis will be needed.

#**Import libraries**

In [1]:
#
import pandas as pd#primary data structure library
import numpy as np#useful for many scientific computing in Python
import seaborn as sns#useful for plotting and graphing,built upon the matplotlib library.
from seaborn.rcmod import axes_style
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

In [ ]:
#
from google.colab import drive
drive.mount('/content/drive')

In [3]:
#
#title@Motor_Vehicle_Collisions_-_Crashes.csv
#Further consideration['COLLISION_ID']
#vmcpu=pd.read_csv('/content/Motor_Vehicle_Collisions_-_Crashes.csv')
#vmcpu=pd.read_csv('/content/drive/MyDrive/Capstone_python/csv_files/Motor_Vehicle_Collisions_Person_Update.csv')

#Exploring -Descriptives

In [4]:
#
#title@Motor_Vehicle_Collisions_Person_Update=vmcpu
#print('Rows,Columns:',vmcpu.shape)

In [5]:
#
#vmcpu.info()

In [6]:
#
#vmcpu.head()

In [7]:
#
#vmcpu.tail()

####Checking for null values

In [8]:
#
#title@Motor_Vehicle_Collisions_Person_Update=vmcpu
#display counts of missing values with a summary list
#vmcpu.isnull().sum()

In [9]:
#
#vmcpu.isnull().sum().sum()

In [10]:
#
#title@Motor_Vehicle_Collisions_Person_Update=vmcpu
#check missing values in different columns via heatmap?
#the column of['PED_LOCATION','PED_ACTION','CONTRIBUTING_FACTOR_1','CONTRIBUTING_FACTOR_2'] mostly null values - new fields? -not being implemented?
#sns.heatmap(vmcpu.isnull(),cbar=False)

In [11]:
#
#vmcpu.dtypes

In [12]:
#
missing_values=['nan','-']
vmcpu=pd.read_csv('/content/drive/MyDrive/Capstone_python/csv_files/Motor_Vehicle_Collisions_Person_Update.csv',na_values=missing_values)

In [ ]:
#
vmcpu.isnull().sum().sum()

##Unique

In [ ]:
#
#title@Motor_Vehicle_Collisions_Person_Update=vmcpu
print('Columns:\n',vmcpu.columns)

In [ ]:
#
print('Gender:\n',vmcpu['PERSON_SEX'].unique())

In [ ]:
#
print('Person Type:\n',vmcpu['PERSON_TYPE'].unique())

In [ ]:
#
print('Emotional Status:\n',vmcpu['EMOTIONAL_STATUS'].unique())

In [ ]:
#
print('Bodily Injury:\n',vmcpu['BODILY_INJURY'].unique())

In [ ]:
#
print('Person Injury:\n',vmcpu['PERSON_INJURY'].unique())

In [ ]:
#
print('Saftey Equipment:\n',vmcpu['SAFETY_EQUIPMENT'].unique())

In [ ]:
#
vmcpu.COLLISION_ID.is_unique

In [ ]:
#
#INDEX?
vmcpu.UNIQUE_ID.is_unique

##**DataFrame** - Checking for,dropping duplicates if needed

###**DataFrame** - BUFFER -Selecting or dropped columns/ rows/ changing data types

In [ ]:
#
#titleBUFFER@Motor_Vehicle_Collisions_Person_Update=vmcpub
#drop duplicate data 
vmcpub=vmcpu.drop_duplicates()
vmcpub.shape==vmcpu.shape  
#vmcpu Rows,Columns: (4759121,21),no duplicate rows

In [24]:
#
vmcpub=pd.DataFrame(vmcpu)

In [ ]:
#
print('Rows:,Columns:',vmcpub.shape)

In [ ]:
#
print(vmcpub['PERSON_AGE'].value_counts())

In [ ]:
#
vmcpub.PERSON_AGE.isnull().sum()

###**Cleaning**

In [ ]:
#
vmcpub.shape

In [29]:
#
vmcpub.columns

Index(['UNIQUE_ID', 'COLLISION_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_ID',
       'PERSON_TYPE', 'PERSON_INJURY', 'VEHICLE_ID', 'PERSON_AGE', 'EJECTION',
       'EMOTIONAL_STATUS', 'BODILY_INJURY', 'POSITION_IN_VEHICLE',
       'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION', 'COMPLAINT',
       'PED_ROLE', 'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2',
       'PERSON_SEX'],
      dtype='object')

####ilocate  (find use for you )

In [30]:
#
#vmcpub.iloc[155:160,5:6]

In [31]:
#
#vmcpub.iloc[11:15]

####OMMITTING Renaming columns for visualizations

In [32]:
#
#For reference
vmcpub.columns

Index(['UNIQUE_ID', 'COLLISION_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_ID',
       'PERSON_TYPE', 'PERSON_INJURY', 'VEHICLE_ID', 'PERSON_AGE', 'EJECTION',
       'EMOTIONAL_STATUS', 'BODILY_INJURY', 'POSITION_IN_VEHICLE',
       'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION', 'COMPLAINT',
       'PED_ROLE', 'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2',
       'PERSON_SEX'],
      dtype='object')

####Dropping columns

In [33]:
#
drop_cols=['PED_LOCATION','PED_ACTION','CONTRIBUTING_FACTOR_1','CONTRIBUTING_FACTOR_2','PERSON_ID','VEHICLE_ID']
vmcpub.drop(drop_cols,inplace=True,axis=1)

In [34]:
#
vmcpub.shape

(4759121, 15)

In [35]:
#
vmcpub.head(2)

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_TYPE,PERSON_INJURY,PERSON_AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,COMPLAINT,PED_ROLE,PERSON_SEX
0,10249006,4229554,10/26/2019,9:43,Occupant,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,U
1,10255054,4230587,10/25/2019,15:15,Occupant,Unspecified,33.0,Not Ejected,Does Not Apply,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,Does Not Apply,Passenger,F

In [36]:
#
print(vmcpub.columns)

Index(['UNIQUE_ID', 'COLLISION_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_TYPE',
       'PERSON_INJURY', 'PERSON_AGE', 'EJECTION', 'EMOTIONAL_STATUS',
       'BODILY_INJURY', 'POSITION_IN_VEHICLE', 'SAFETY_EQUIPMENT', 'COMPLAINT',
       'PED_ROLE', 'PERSON_SEX'],
      dtype='object')

#Categorized

#**DataFrame** -BICYCLIST Category 07/2012-2022-update on file

##**DataFrame** 07/2012-2022-update on file

In [37]:
#
#Motor_Vehicle_Collisions_BICYCLIST_Update=vmvbu
vmvbu=pd.DataFrame(vmcpub)

In [38]:
#
biclycle_a=vmvbu[(vmvbu['PERSON_TYPE']=='Occupant') | (vmvbu['PERSON_TYPE']=='Pedestrian') | (vmvbu['PERSON_TYPE']=='Other Motorized')].index
vmvbu.drop(biclycle_a,inplace=True)
   #WHY DOESNT THIS WORK???
      #biclycle_a=vmvbu[(vmvbu['PERSON_TYPE']=='^(?!Bicyclist$).*')].index

###Descriptives

In [39]:
#
print('Bicyclists Involved in CollisionS 2012-2022 info:\nRows,Columns:\n',vmvbu.shape)

Bicyclists Involved in CollisionS 2012-2022 info:
Rows,Columns:
 (56994, 15)

In [40]:
#
vmvbu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56994 entries, 18 to 4759099
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UNIQUE_ID            56994 non-null  int64
 1   COLLISION_ID         56994 non-null  int64
 2   CRASH_DATE           56994 non-null  object
 3   CRASH_TIME           56994 non-null  object
 4   PERSON_TYPE          56994 non-null  object
 5   PERSON_INJURY        56994 non-null  object
 6   PERSON_AGE           56842 non-null  float64
 7   EJECTION             41912 non-null  object
 8   EMOTIONAL_STATUS     41915 non-null  object
 9   BODILY_INJURY        41915 non-null  object
 10  POSITION_IN_VEHICLE  41914 non-null  object
 11  SAFETY_EQUIPMENT     41668 non-null  object
 12  COMPLAINT            41915 non-null  object
 13  PED_ROLE             41917 non-null  object
 14  PERSON_SEX           41915 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 7.0+ MB

In [41]:
#
vmvbu.head(2)

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_TYPE,PERSON_INJURY,PERSON_AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,COMPLAINT,PED_ROLE,PERSON_SEX
18,10254556,4230715,10/26/2019,8:50,Bicyclist,Injured,42.0,Not Ejected,Unknown,Knee-Lower Leg Foot,Driver,Unknown,None Visible,Driver,M
31,10250834,4230376,10/26/2019,19:40,Bicyclist,Injured,36.0,Not Ejected,Conscious,Back,Driver,None,Internal,Driver,M

In [42]:
#
vmvbu.tail(2)

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_TYPE,PERSON_INJURY,PERSON_AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,COMPLAINT,PED_ROLE,PERSON_SEX
4759051,12236882,4532393,05/29/2022,18:51,Bicyclist,Unspecified,36.0,Not Ejected,Does Not Apply,Does Not Apply,Driver,Unknown,Does Not Apply,Driver,F
4759099,12236218,4532289,05/29/2022,9:00,Bicyclist,Injured,38.0,Not Ejected,Conscious,Hip-Upper Leg,Driver,Helmet Only (In-Line Skater/Bicyclist),Complaint of Pain or Nausea,Driver,M

####**Renaming columns**

In [43]:
#
vmvbu=vmvbu.rename(columns={'CRASH_DATE':'DATE','CRASH_TIME':'TIME','PERSON_AGE':'AGE','PERSON_SEX':'GENDER'})

In [44]:
#
vmvbu.columns

Index(['UNIQUE_ID', 'COLLISION_ID', 'DATE', 'TIME', 'PERSON_TYPE',
       'PERSON_INJURY', 'AGE', 'EJECTION', 'EMOTIONAL_STATUS', 'BODILY_INJURY',
       'POSITION_IN_VEHICLE', 'SAFETY_EQUIPMENT', 'COMPLAINT', 'PED_ROLE',
       'GENDER'],
      dtype='object')

###Column uniques

In [45]:
#
print('Category of Person Type',vmvbu['PERSON_TYPE'].unique())

Category of Person Type ['Bicyclist']

In [46]:
#
print('Gender Categories',vmvbu['GENDER'].unique())

Gender Categories ['M' 'F' nan 'U']

In [47]:
#
print('Categorys of Person Injury',vmvbu['PERSON_INJURY'].unique())

Categorys of Person Injury ['Injured' 'Unspecified' 'Killed']

In [48]:
#
print('Categorys of Emotional Status',vmvbu['EMOTIONAL_STATUS'].unique())

Categorys of Emotional Status ['Unknown' 'Conscious' 'Does Not Apply' 'Shock' 'Incoherent' 'Unconscious'
 nan 'Semiconscious' 'Apparent Death']

###Creating Index

In [49]:
#
#.index  Future analysis... ID#s shared accross all three databases.)
vmvbu.set_index(['UNIQUE_ID'])

,COLLISION_ID,DATE,TIME,PERSON_TYPE,PERSON_INJURY,AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,COMPLAINT,PED_ROLE,GENDER
UNIQUE_ID,,,,,,,,,,,,,,
10254556,4230715,10/26/2019,8:50,Bicyclist,Injured,42.0,Not Ejected,Unknown,Knee-Lower Leg Foot,Driver,Unknown,None Visible,Driver,M
10250834,4230376,10/26/2019,19:40,Bicyclist,Injured,36.0,Not Ejected,Conscious,Back,Driver,None,Internal,Driver,M
10251056,4230439,10/26/2019,0:05,Bicyclist,Injured,35.0,Ejected,Conscious,Elbow-Lower-Arm-Hand,Driver,None,Minor Bleeding,Driver,M
10249843,4230242,10/26/2019,6:54,Bicyclist,Injured,47.0,Not Ejected,Conscious,Back,Driver,Helmet Only (In-Line Skater/Bicyclist),None Visible,Driver,M
10254980,4230579,10/25/2019,22:24,Bicyclist,Injured,34.0,Ejected,Conscious,Back,Driver,Helmet Only (In-Line Skater/Bicyclist),Complaint of Pain or Nausea,Driver,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12235868,4532222,05/29/2022,0:00,Bicyclist,Injured,50.0,Not Ejected,Conscious,Shoulder - Upper Arm,Driver,Helmet Only (In-Line Skater/Bicyclist),Complaint of Pain or Nausea,Driver,F
12235871,4532244,05/29/2022,10:00,Bicyclist,Injured,21.0,Not Ejected,Conscious,Hip-Upper Leg,Driver,Helmet Only (In-Line Skater/Bicyclist),Complaint of Pain or Nausea,Driver,F
12236707,4532395,05/29/2022,3:00,Bicyclist,Injured,20.0,Not Ejected,Conscious,Head,Riding/Hanging on Outside,None,Minor Bleeding,Driver,M
12236882,4532393,05/29/2022,18:51,Bicyclist,Unspecified,36.0,Not Ejected,Does Not Apply,Does Not Apply,Driver,Unknown,Does Not Apply,Driver,F
12236218,4532289,05/29/2022,9:00,Bicyclist,Injured,38.0,Not Ejected,Conscious,Hip-Upper Leg,Driver,Helmet Only (In-Line Skater/Bicyclist),Complaint of Pain or Nausea,Driver,M

###Converting the date and time columns to to their specified data types

In [50]:
#
vmvbu['DATE_TIME']=(vmvbu['DATE'].map(str)+'-'+vmvbu['TIME'])
vmvbu['DATE_TIME']=pd.to_datetime(vmvbu.DATE_TIME)

In [51]:
#
#For easier QUERY
#Converting the date column to its specified data type
vmvbu['DATE']=pd.to_datetime(vmvbu.DATE)
#Creating three new columns for easy querying

vmvbu['YEAR']=vmvbu.DATE.dt.year
vmvbu['MONTH']=vmvbu.DATE.dt.month
vmvbu['DAY']=vmvbu.DATE.dt.day
#Creating 4 new columns for easy querying  ???? my creation... to plot maps..first time
vmvbu['YEAR_MONTH']=vmvbu['DATE'].map(lambda dt: dt.strftime('%Y-%m'))
vmvbu['MONTH_YEAR']=vmvbu['DATE'].map(lambda dt: dt.strftime('%m-%Y'))
vmvbu['YMD_HMS']=vmvbu['DATE_TIME'].map(lambda dt: dt.strftime('%Y-%m-%d %H:%M:%S'))

In [52]:
#
#check min max DATEs
min_date=min(vmvbu['DATE'])
max_date=max(vmvbu['DATE'])
print('Date range: ',min_date,'-',max_date)

Date range:  2012-07-01 00:00:00 - 2022-08-01 00:00:00

In [53]:
#
vmvbu.head(3)

,UNIQUE_ID,COLLISION_ID,DATE,TIME,PERSON_TYPE,PERSON_INJURY,AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,...,COMPLAINT,PED_ROLE,GENDER,DATE_TIME,YEAR,MONTH,DAY,YEAR_MONTH,MONTH_YEAR,YMD_HMS
18,10254556,4230715,2019-10-26,8:50,Bicyclist,Injured,42.0,Not Ejected,Unknown,Knee-Lower Leg Foot,...,None Visible,Driver,M,2019-10-26 08:50:00,2019,10,26,2019-10,10-2019,2019-10-26 08:50:00
31,10250834,4230376,2019-10-26,19:40,Bicyclist,Injured,36.0,Not Ejected,Conscious,Back,...,Internal,Driver,M,2019-10-26 19:40:00,2019,10,26,2019-10,10-2019,2019-10-26 19:40:00
69,10251056,4230439,2019-10-26,0:05,Bicyclist,Injured,35.0,Ejected,Conscious,Elbow-Lower-Arm-Hand,...,Minor Bleeding,Driver,M,2019-10-26 00:05:00,2019,10,26,2019-10,10-2019,2019-10-26 00:05:00

In [54]:
#
vmvbu.dtypes

UNIQUE_ID                       int64
COLLISION_ID                    int64
DATE                   datetime64[ns]
TIME                           object
PERSON_TYPE                    object
PERSON_INJURY                  object
AGE                           float64
EJECTION                       object
EMOTIONAL_STATUS               object
BODILY_INJURY                  object
POSITION_IN_VEHICLE            object
SAFETY_EQUIPMENT               object
COMPLAINT                      object
PED_ROLE                       object
GENDER                         object
DATE_TIME              datetime64[ns]
YEAR                            int64
MONTH                           int64
DAY                             int64
YEAR_MONTH                     object
MONTH_YEAR                     object
YMD_HMS                        object
dtype: object

####Date Time columns created ???

In [55]:
#
vmvbu.shape

(56994, 22)

####Coercing Age column ???

In [56]:
#
print(vmvbu['AGE'].value_counts())

 25.0      1970
 26.0      1951
 28.0      1879
 24.0      1875
 27.0      1872
           ...
 3047.0       1
 817.0        1
 1027.0       1
 1047.0       1
-962.0        1
Name: AGE, Length: 133, dtype: int64

In [57]:
#
vmvbu.AGE.isnull().sum()

152

In [58]:
#
print(vmvbu['AGE'].value_counts().nunique())

88

In [59]:
#
 vmvbu.AGE=vmvbu.AGE.map(lambda x: np.nan if x <0 or x >100 else x)

In [60]:
#
vmvbu.dropna(subset=['AGE'],inplace=True)

In [61]:
#
print(vmvbu['AGE'].value_counts().nunique())

87

In [62]:
#
vmvbu.AGE.isnull().sum()

0

In [63]:
#
vmvbu['AGE']=vmvbu['AGE'].astype(int)

In [64]:
#
vmvbu.dtypes
#.Age=vmcpub.Age.map(lambda x: np.nan if x <0 or x >100 else x)

UNIQUE_ID                       int64
COLLISION_ID                    int64
DATE                   datetime64[ns]
TIME                           object
PERSON_TYPE                    object
PERSON_INJURY                  object
AGE                             int64
EJECTION                       object
EMOTIONAL_STATUS               object
BODILY_INJURY                  object
POSITION_IN_VEHICLE            object
SAFETY_EQUIPMENT               object
COMPLAINT                      object
PED_ROLE                       object
GENDER                         object
DATE_TIME              datetime64[ns]
YEAR                            int64
MONTH                           int64
DAY                             int64
YEAR_MONTH                     object
MONTH_YEAR                     object
YMD_HMS                        object
dtype: object

#Wrangling Sorting and Visualizations

####sort_values

In [65]:
#
vmvbu.sort_values(['DATE','TIME'],ascending=True,inplace=False).head(2)

,UNIQUE_ID,COLLISION_ID,DATE,TIME,PERSON_TYPE,PERSON_INJURY,AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,...,COMPLAINT,PED_ROLE,GENDER,DATE_TIME,YEAR,MONTH,DAY,YEAR_MONTH,MONTH_YEAR,YMD_HMS
600575,1885858,193861,2012-07-01,12:15,Bicyclist,Injured,21,NaN,NaN,NaN,...,NaN,NaN,NaN,2012-07-01 12:15:00,2012,7,1,2012-07,07-2012,2012-07-01 12:15:00
2738833,1272222,9409,2012-07-01,14:14,Bicyclist,Injured,28,NaN,NaN,NaN,...,NaN,NaN,NaN,2012-07-01 14:14:00,2012,7,1,2012-07,07-2012,2012-07-01 14:14:00

##**Visualizations** 07/2012-2022-update on file

Vision Zero Bicycle Incidencts 07/2012 - 07/2022

Person Injury: 
* Injured        22916
* Unspecified     6664
* Killed           101

In [66]:
#
#Total counts of Persons Injured
print('Person Injury: \n',vmvbu['PERSON_INJURY'].value_counts())

Person Injury:
 Injured        47292
Unspecified     9309
Killed           198
Name: PERSON_INJURY, dtype: int64

In [67]:
#
#Total counts by Emotional Status of Persons Injured
print('Persons Role: \n',vmvbu['PED_ROLE'].value_counts())

Persons Role:
 Driver       40914
Passenger      810
Name: PED_ROLE, dtype: int64

In [68]:
#
#Total counts by Gender of Persons Injured
print('Gender: \n',vmvbu['GENDER'].value_counts())

Gender:
 M    36025
F     5611
U       88
Name: GENDER, dtype: int64

In [ ]:
#
vmvbu.head()

In [ ]:
#
print(vmvbu['BODILY_INJURY'].unique())

In [ ]:
#
print(vmvbu['SAFETY_EQUIPMENT'].unique())

In [ ]:
#
#vmvbu.set_index('Unique ID',inplace=True)
vmvbu.sort_values(['DATE','TIME'],ascending=True,inplace=False).head(2)

In [ ]:
#
#ID=vmvbu['GENDER']
df1=pd.DataFrame(vmvbu.groupby(['EMOTIONAL_STATUS','GENDER'])['AGE'].mean())
df1.plot.bar()

plt.xticks(rotation=85)

In [73]:
#

In [ ]:
#
grouped_vmvbu=vmvbu.groupby('YEAR_MONTH').size().to_frame("Bicycling Incidents").reset_index()
plt.rcParams["figure.figsize"] = [40, 4]
plt.rcParams["figure.autolayout"] = True
ax = grouped_vmvbu.plot.bar(x='YEAR_MONTH',y='Bicycling Incidents',title='NYC Collisions-Crashes\nby YEAR MONTH\n07-01-2012 - 07-31-2022', legend=False)
grouped_vmvbu.plot(y='Bicycling Incidents', marker='*', color='orange', ax=ax, use_index=False,secondary_y=True, mark_right=False)

ax.set_xticklabels(['YEAR_MONTH'], rotation=15)
ax.right_ax.set_ylabel('Bicycling Incidents')
#plt.legend(bbox_to_anchor=(1.05,1),loc='upper left',borderaxespad=0)

In [75]:
#
pd. set_option('display.max_rows', None)
pd. set_option('display.max_columns', None)
pd. set_option('display.width', None)
pd. set_option('display.max_colwidth', None)

In [ ]:
#
print(vmvbu.groupby('YEAR_MONTH').size())

In [ ]:
#
print(vmvbu.groupby('MONTH_YEAR').size())

#1

In [ ]:
#
#,figsize=(4,50)
#representation of the month grouped by year with strfmt
grouped_vmvbu=vmvbu.groupby('YEAR_MONTH').size().to_frame("Bicycling Incidents").reset_index()
grouped_vmvbu.plot.bar(x='YEAR_MONTH',y='Bicycling Incidents',figsize=(40,4),title='NYC Collisions- Crashes\n by YEAR MONTH\n07-01-2012  -  07-31-2022')
plt.xticks(rotation=85)
plt.show()

In [ ]:
#

vmvbu.YEAR_MONTH.value_counts().sort_index().plot(kind='line')
plt.xticks(range(1,123,1),rotation=85)
plt.xlabel('Months')
plt.ylabel('')

In [ ]:
#
plt.figure(figsize=(6,4))
vmvbu.DAY.value_counts().sort_index().plot(kind='line')
plt.xticks(range(1,32,1),[str(x)+'' for x in range(1,32,1)],rotation=85)
plt.xlabel('DAILY TOTALS 2012-2018')
plt.ylabel('')
#trying to see if there is any correlation to days/time of month

#2

In [ ]:
#
#'HOURLY\nNYC - Bicyclists Collisions-Crashes\n 07-01-2012  -  07-31-2022'
#making the time an integer that can be sorted. 
plt.figure(figsize=(6,4))
hourly2012_22=vmvbu['TIME'].str.split(':').str[0].astype('int').value_counts().sort_index()
plt.bar(hourly2012_22.index,hourly2012_22.values)
plt.xticks(range(0,24,2),[str(x)+":00" for x in range(0,24,2)],rotation=85)
plt.xlabel('')
plt.ylabel('Hourly Counts')
plt.title('HOURLY\n 07-01-2012  -  07-31-2022')
plt.show()

In [ ]:
#
plt.figure(figsize=(6,4))
vmvbu.YEAR.value_counts().sort_index().plot()

In [ ]:
#
plt.figure(figsize=(14,4))
vmvbu.MONTH_YEAR.value_counts().sort_index().plot()

In [ ]:
#
plt.figure(figsize=(10,4))
sns.scatterplot(data=vmvbu,x='DATE',y='AGE',hue='GENDER')
plt.legend(bbox_to_anchor=(1.05,1),loc='upper left',borderaxespad=0)

In [ ]:
#
vmvbu.groupby(['GENDER','PERSON_INJURY'])['AGE'].median().sort_values(ascending=True)

In [ ]:
#
vmvbu.groupby(['GENDER','PERSON_INJURY'])['AGE'].mean().sort_values(ascending=True)

In [ ]:
#
 vzvbi=sns.FacetGrid(data=vmvbu,col='POSITION_IN_VEHICLE',hue='PERSON_INJURY',height=4,aspect=2,col_wrap=2)
vzvbi.map(sns.barplot,'PERSON_INJURY','AGE',order=['Injured','Unspecified','Killed'])
#plt.title("Bicyclists Bodily InjuriesY\nNYC Collisions-Crashes\n2018")

In [87]:
#
#vmvbu.plot.bar('DATE','AGE')

#2

In [ ]:
#
 plt.figure(figsize=(6,4))
 yearly2012_22=vmvbu['DATE'].dt.year.value_counts().sort_index()
plt.bar(yearly2012_22.index,yearly2012_22.values)
plt.xlabel('CUMULATIVE YEARLY')
plt.title('NYC Bicyclist Involved Crashes-Collisions\nCUMULATIVE YEARLY\n07-01-2012  -  07-31-2022')
#plt.style.use(style='bmh')
plt.show()

In [ ]:
#
print('DATE by Year total counts\n',vmvbu['DATE'].dt.year.value_counts().sort_index())

In [ ]:
#

monthlyyr2012_22=vmvbu['MONTH_YEAR'].value_counts().sort_index()
plt.figure(figsize=(30,4))
plt.bar(monthlyyr2012_22.index,monthlyyr2012_22.values)
plt.xticks(range(0,122,1))
plt.xlabel('')
plt.ylabel('Yearly count by month')
plt.title('NYC Crashes-Collisions\nYEARLY COUNT BY MONTH\n07-01-2012 - 07-31-2022')
plt.xticks(rotation=85)
plt.show()

In [ ]:
#
plt.figure(figsize=(6,4))
monthly2012_22=vmvbu['DATE'].dt.month.value_counts().sort_index()
plt.bar(monthly2012_22.index,monthly2012_22.values)
plt.xticks(range(1,13))
plt.xlabel('')
plt.ylabel('CUMULATIVE MONTHLY')
plt.title('NYC Crashes-Collisions\nCUMULATIVE MONTHLY\n07-01-2012  -  07-31-2022')
plt.show()

In [ ]:
#
vmvbu['PED_ROLE'].value_counts().plot.pie(figsize=(10,10),legend=True,labeldistance=None,title='Bicyclist Status due to Collision or Crash')

In [ ]:
#
 gpr=sns.relplot(data=vmvbu,x='COLLISION_ID',y='AGE',col='GENDER',row='PED_ROLE',hue='GENDER',kind='scatter',legend='auto',height=6,aspect=2)
#rp is a FacetGrid; 
#relplot is a nice organized way to use it
gpr.fig.subplots_adjust(top=0.9)#adjust the Figure in rp
gpr.fig.suptitle('NYC Collisions-Crashes\nDRIVER PASSENGER - Collision ID\n07-01-2012  -  07-31-2022')

In [ ]:
#
 vzvbi=sns.FacetGrid(data=vmvbu,col='PED_ROLE',hue='GENDER',height=4,aspect=2,col_wrap=2)
vzvbi.map(sns.barplot,'GENDER','AGE',order=['M','F','U'])
#plt.title("Bicyclists Bodily InjuriesY\nNYC Collisions-Crashes\n2018")

In [ ]:
#
vmvbu['PERSON_INJURY'].value_counts().plot.pie(figsize=(10,10),legend=True,labeldistance=None,title='Bicyclist Status due to Collision or Crash')

In [ ]:
#
 gpi=sns.relplot(data=vmvbu,x='COLLISION_ID',y='AGE',col='GENDER',row='PERSON_INJURY',hue='GENDER',kind='scatter',legend='auto',height=6,aspect=2)
#rp is a FacetGrid; 
#relplot is a nice organized way to use it
gpi.fig.subplots_adjust(top=0.93)#adjust the Figure in rp
gpi.fig.suptitle('NYC Collisions-Crashes\nINJURED KILLED UNSPECIFIED - Collision ID\n07-01-2012  -  07-31-2022')

In [ ]:
#
vzv=sns.FacetGrid(data=vmvbu,col='PERSON_INJURY',hue='GENDER',height=4,aspect=1.25)
vzv.map(sns.barplot,'GENDER','AGE',order=['M','F','U'])

In [ ]:
#
vmvbu['EMOTIONAL_STATUS'].value_counts().plot.pie(figsize=(10,10),legend=True,labeldistance=None,title='Bicyclist Status due to Collision or Crash')

In [ ]:
#
 gesr=sns.relplot(data=vmvbu,x='COLLISION_ID',y='AGE',col='GENDER',row='EMOTIONAL_STATUS',hue='GENDER',kind='scatter',legend='auto',height=6,aspect=2)
#rp is a FacetGrid; 
#relplot is a nice organized way to use it
gesr.fig.subplots_adjust(top=0.96)#adjust the Figure in rp
gesr.fig.suptitle('NYC Collisions-Crashes\nEMOTIONAL STATUS - Collision ID\n07-01-2012  -  07-31-2022')

In [ ]:
#
vzvbi=sns.FacetGrid(data=vmvbu,col='EMOTIONAL_STATUS',hue='GENDER',height=4,aspect=1.25,col_wrap=4)
vzvbi.map(sns.barplot,'GENDER','AGE',order=['M','F','U'])

In [ ]:
#
vmvbu['COMPLAINT'].value_counts().plot.pie(figsize=(10,10),legend=True,labeldistance=None,title='Bicyclist Status due to Collision or Crash')

In [ ]:
#
gcr=sns.relplot(data=vmvbu,x='COLLISION_ID',y='AGE',col='GENDER',row='COMPLAINT',hue='GENDER',kind='scatter',legend='auto',height=6,aspect=2)
gcr.fig.subplots_adjust(top=0.97)
gcr.fig.suptitle('NYC Collisions-Crashes\nCOMPLAINT - Collision ID\n07-01-2012  -  07-31-2022')

In [ ]:
#
vzvbi=sns.FacetGrid(data=vmvbu,col='COMPLAINT',hue='GENDER',height=4,aspect=1.25,col_wrap=3)
vzvbi.map(sns.barplot,'GENDER','AGE',order=['M','F','U'])
#plt.title("Bicyclists Bodily InjuriesY\nNYC Collisions-Crashes\n2018")

In [ ]:
#
vmvbu['BODILY_INJURY'].value_counts().plot.pie(figsize=(10,10),legend=True,labeldistance=None,title='Bicyclist Status due to Collision or Crash')

In [ ]:
#
 gbi=sns.relplot(data=vmvbu,x='COLLISION_ID',y='AGE',col='GENDER',row='BODILY_INJURY',hue='GENDER',kind='scatter',legend='auto',height=6,aspect=2)
#rp is a FacetGrid; 
#relplot is a nice organized way to use it
gbi.fig.subplots_adjust(top=0.97)#adjust the Figure in rp
gbi.fig.suptitle('NYC Collisions-Crashes\nBODILY INJURY - Collision ID\n07-01-2012  -  07-31-2022')

In [ ]:
#
 vzvbi=sns.FacetGrid(data=vmvbu,col='BODILY_INJURY',hue='GENDER',height=4,aspect=1.25,col_wrap=7)
vzvbi.map(sns.barplot,'GENDER','AGE',order=['M','F','U'])
#plt.title("Bicyclists Bodily InjuriesY\nNYC Collisions-Crashes\n2018")

In [ ]:
#
vmvbu['SAFETY_EQUIPMENT'].value_counts().plot.pie(figsize=(10,10),legend=True,labeldistance=None,title='Bicyclist Status due to Collision or Crash')

In [ ]:
#
 gse=sns.relplot(data=vmvbu,x='COLLISION_ID',y='AGE',col='GENDER',row='SAFETY_EQUIPMENT',hue='GENDER',kind='scatter',legend='auto',height=6,aspect=2)
#rp is a FacetGrid; 
#relplot is a nice organized way to use it
gse.fig.subplots_adjust(top=0.97)#adjust the Figure in rp
gse.fig.suptitle('NYC Collisions-Crashes\nSAFETY EQUIPMENT - Collision ID\n07-01-2012  -  07-31-2022')

In [ ]:
#
 vzvbi=sns.FacetGrid(data=vmvbu,col='SAFETY_EQUIPMENT',hue='GENDER',height=4,aspect=1.25,col_wrap=7)
vzvbi.map(sns.barplot,'GENDER','AGE',order=['M','F','U'])
#plt.title("Bicyclists Bodily InjuriesY\nNYC Collisions-Crashes\n2018")

In [ ]:
#
vmvbu['POSITION_IN_VEHICLE'].value_counts().plot.pie(figsize=(10,10),legend=True,labeldistance=None,title='Bicyclist Status due to Collision or Crash')

In [ ]:
#
 gpv=sns.relplot(data=vmvbu,x='COLLISION_ID',y='AGE',col='GENDER',row='POSITION_IN_VEHICLE',hue='GENDER',kind='scatter',legend='auto',height=6,aspect=2)
#rp is a FacetGrid; 
#relplot is a nice organized way to use it
gpv.fig.subplots_adjust(top=0.97)#adjust the Figure in rp
gpv.fig.suptitle('NYC Collisions-Crashes\nPOSITION IN VEHICLE - Collision ID\n07-01-2012  -  07-31-2022')

##**DataFrame** 01/2018-2022-update on file

In [112]:
#
vmvbu18p=pd.DataFrame(vmvbu)

In [113]:
#
date_biclycle=vmvbu18p[(vmvbu18p['DATE']<'2018-01-01')].index
vmvbu18p.drop(date_biclycle,inplace=True)

In [ ]:
#
vmvbu18p.shape

In [ ]:
#
vmvbu18p.head(2)

###Column uniques

In [ ]:
#
print(vmvbu18p['GENDER'].unique())

In [ ]:
#
print(vmvbu18p['PERSON_TYPE'].unique())

In [ ]:
#
print(vmvbu18p['EMOTIONAL_STATUS'].unique())

In [ ]:
#
 print(vmvbu18p['BODILY_INJURY'].unique())

In [ ]:
#
 print(vmvbu18p['PERSON_INJURY'].unique())

In [ ]:
#
 print(vmvbu18p['SAFETY_EQUIPMENT'].unique())

In [ ]:
#
 print(vmvbu18p['MONTH_YEAR'].unique())

In [ ]:
#
#Total counts of Persons Injured
print('Person Injury: \n',vmvbu18p['PERSON_INJURY'].value_counts())

In [ ]:
#
#Total counts by Gender of Persons Injured
print('Gender of Persons Injured: \n',vmvbu18p['GENDER'].value_counts())

In [ ]:
#
#Total counts by Emotional Status of Persons Injured
print('Emotional Status at time of incident: \n',vmvbu18p['EMOTIONAL_STATUS'].value_counts())

In [ ]:
#
sns.scatterplot(data=vmvbu18p,x='DATE',y='AGE',hue='GENDER')
plt.legend(bbox_to_anchor=(1.05,1),loc='upper left',borderaxespad=0)

In [ ]:
#
vmvbu18p.groupby( ['GENDER','PERSON_INJURY'])['AGE'].mean().sort_values(ascending=True)

In [ ]:
#
vmvbu18p.groupby( ['GENDER','PERSON_INJURY'])['AGE'].median().sort_values(ascending=True)

In [ ]:
#
vmvbu18p.groupby(['GENDER','EMOTIONAL_STATUS'])['AGE'].mean().sort_values(ascending=True)

In [ ]:
#
vmvbu18p.groupby(['GENDER','EMOTIONAL_STATUS'])['AGE'].median().sort_values(ascending=True)

In [ ]:
#
vmvbu18p.groupby(['GENDER','EMOTIONAL_STATUS'])['AGE'].median().sort_values(ascending=True)

###sort_values

In [132]:
#
#vmvbu18p.set_index('Unique ID',inplace=True)
#vmvbu18p.sort_values(['DATE','TIME'],ascending=True,inplace=False).head(2)

##**Visualizations** 2018-2022

###- Vision Zero Bicycle Incidencts 01/2018 - 07/2022

In [ ]:
#
plt.figure(figsize=(6,8))
x=pd.value_counts(vmvbu18p['SAFETY_EQUIPMENT'].values, sort=True)
x.plot.bar()
print(vmvbu18p['SAFETY_EQUIPMENT'].value_counts())
#sns.lmplot(data=vmvbu18p,x=x,y='AGE',col='PERSON_INJURY',hue='GENDER')
#grouped_vmvbu18p.set_xticklabels(grouped_vmvbu18p.get_xticklabels(),rotation=30)

In [ ]:
#
#create a representation of the month with strfmt
grouped_vmvbu18p=vmvbu18p.groupby('YEAR_MONTH').size().to_frame('Bicycling Incidents').reset_index()
grouped_vmvbu18p.plot(kind='bar',x='YEAR_MONTH',y='Bicycling Incidents',figsize=(20,4),title='YEAR MONTH\nNYC Collisions-Crashes\n 01-01-2018 - 07-31-2022')
plt.xticks(rotation=85)
plt.show()

In [ ]:
#
vmvbu18p['MONTH_YEAR']=vmvbu18p['DATE'].map(lambda dt: dt.strftime('%m-%Y'))
grouped_vmvbu18p=vmvbu18p.groupby('MONTH_YEAR').size().to_frame("Bicycling Incidents").reset_index()
grouped_vmvbu18p.plot(kind='bar',x='MONTH_YEAR',y='Bicycling Incidents',figsize=(20,4),title='MONTH YEAR\nNYC Collisions-Crashes\n 01-01-2018  -  07-31-2022')
plt.xticks(rotation=85)
plt.show()

In [ ]:
plt.figure(figsize=(6,8))
hourly2018_22=vmvbu18p['TIME'].str.split(':').str[0].astype('int').value_counts().sort_index()
plt.bar(hourly2018_22.index,hourly2018_22.values)
plt.xticks(range(0,24,2),[str(x)+":00" for x in range(0,24,2)])
plt.xlabel('')
plt.ylabel('Bicycling Incidents')
plt.title('HOURLY\nNYC Collisions-Crashes\n 01-01-2018 - 07-31-2022')
plt.xticks(rotation=85)
plt.show()

In [ ]:
plt.figure(figsize=(6,8))
monthy2018_22=vmvbu18p['DATE'].dt.month.value_counts().sort_index()
plt.bar(monthy2018_22.index,monthy2018_22.values)
plt.xticks(range(1,13))
plt.xlabel('')
plt.ylabel('Bicycling Incidents')
plt.title('MONTHLY\nNYC Crashes-Collisions\n 01-01-2018 - 07-31-2022')
plt.show()
#2018 Higher crashes during the warmer months..increased usage of bikes - large touristic,schools out,additional drivers,additional bike share users.

In [ ]:
#
pd.pivot_table(vmvbu18p.reset_index(),index='DATE', columns='GENDER', values='AGE').plot(alpha=0.8)

In [ ]:
#
print('Count of Incidents Catagorized by Gender:\n',vmvbu18p.groupby(['PERSON_INJURY','GENDER'])['AGE'].count().sort_values(ascending=False))

In [ ]:
#
vmvbu18p.groupby(['GENDER','PERSON_INJURY'])['AGE'].mean().sort_values(ascending=True)

In [ ]:
#
vmvbu18p.groupby(['GENDER','PERSON_INJURY'])['AGE'].median().sort_values(ascending=True)

In [ ]:
plt.figure(figsize=(6,8))
pd.pivot_table(vmvbu18p.reset_index(),index='DATE', columns='PERSON_INJURY', values='AGE').plot(kind='hist', alpha=0.6)

In [ ]:
#
vmvbu18p.groupby(['PERSON_INJURY','GENDER'])['AGE'].mean()

In [ ]:
#
vmvbu18p.groupby(['PERSON_INJURY','GENDER'])['AGE'].median()

In [ ]:
#
vmvbu18p.groupby(['EMOTIONAL_STATUS','GENDER',])['AGE'].mean()

In [ ]:
#
vmvbu18p.groupby(['EMOTIONAL_STATUS','GENDER'])['AGE'].median().sort_values(ascending=True)

In [ ]:
#
print('Rows: \n','Columns: \n',vmvbu18p.shape)

In [ ]:
#
vmvbu18p.info()

In [ ]:
#
#Total counts by Emotional Status of Persons Injured
print('Person Injury: \n',vmvbu18p['GENDER'].value_counts())

##**DataFrame** - 2018

In [150]:
#
 vzb2018i=pd.DataFrame(vmvbu18p)

In [151]:
#
 only2018bi=vzb2018i[(vzb2018i['DATE'] < '2018-01-01') | (vzb2018i['DATE'] > '2018-12-31')].index
vzb2018i.drop(only2018bi,inplace=True)

###Column uniques

In [ ]:
#
print(vzb2018i['GENDER'].unique())

In [ ]:
#
print(vzb2018i['PERSON_TYPE'].unique())

In [ ]:
#
print(vzb2018i['EMOTIONAL_STATUS'].unique())

In [ ]:
#
print(vzb2018i['BODILY_INJURY'].unique())

In [ ]:
#
print(vzb2018i['PERSON_INJURY'].unique())

##**Visualization** - 2018

####- Vision Zero Bicycle Incidencts 01/2018 - 12/2018

In [ ]:
plt.figure(figsize=(6,8))
 vzb18mc=vzb2018i['DATE'].dt.month.value_counts().sort_index()
plt.bar(vzb18mc.index,vzb18mc.values)
plt.xticks(range(1,13))
plt.xlabel('')
plt.ylabel('Bicycle Incidents')
plt.title('MONTHLY\nNYC Collisions-Crashes\n2018')
plt.show()
#2018 Higher crashes during the warmer months..increased usage of bikes. august is a large touristic(additional drivers,additional bike share users) month.

2018 Higher crashes during the warmer months..increased usage of bikes. august is a large touristic(additional drivers,additional bike share users) month.

In [ ]:
plt.figure(figsize=(6,8))
 vzb18ctc=vzb2018i['TIME'].str.split(':').str[0].astype('int').value_counts().sort_index()
plt.bar(vzb18ctc.index,vzb18ctc.values)
plt.xticks(range(0,24,4),[str(x)+":00" for x in range(0,24,4)])
plt.xlabel('')
plt.ylabel('Bicycle Incidents')
plt.title('HOURLY\nNYC Collisions-Crashes\n2018')
plt.show()

In [ ]:
plt.figure(figsize=(6,8))
#create a representation of the month with strfmt
vzb2018i['MONTH_YEAR']=vzb2018i['DATE'].map(lambda dt: dt.strftime('%Y-%m'))
grouped_vzb2018i=vzb2018i.groupby('MONTH_YEAR').size().to_frame("count").reset_index()
grouped_vzb2018i.plot(kind='bar',x='MONTH_YEAR',y='count')
#sns.lmplot(data=vzb2018i,x='COLLISION_ID',y='TIME',col='PERSON_INJURY',hue='GENDER')

In [159]:
#

In [ ]:
plt.figure(figsize=(6,8))
 vzbctc=vzb2018i['TIME'].str.split(':').str[0].astype('int').value_counts().sort_index()
plt.bar(vzbctc.index,vzbctc.values)
plt.xticks(range(0,24,4),[str(x)+":00" for x in range(0,24,4)])
plt.xlabel('Hourly')
plt.ylabel('Count')
plt.title('Crashes or Collisions Involving a Bike in NYC 2018 Hourly Counts')
plt.show()

In [ ]:
plt.figure(figsize=(6,8))
#create a representation of the month with strfmt
vzb2018i['MONTH_YEAR']=vzb2018i['DATE'].map(lambda dt: dt.strftime('%Y-%m'))
grouped_vzb2018i=vzb2018i.groupby('MONTH_YEAR').size().to_frame("count").reset_index()
grouped_vzb2018i.plot(kind='bar',x='MONTH_YEAR',y='count')
#sns.lmplot(data=vzb2018i,x='COLLISION_ID',y='TIME',col='PERSON_INJURY',hue='GENDER')

In [ ]:
#
print(vzb2018i['BODILY_INJURY'].unique())

In [ ]:
#
print('Bodily Injury: \n',vzb2018i['BODILY_INJURY'].value_counts())

In [ ]:
#
print('Bicyclists involved Gender count:\n',vzb2018i['GENDER'].value_counts())

In [ ]:
#
 vzb2018i['BODILY_INJURY'].value_counts().plot.pie(figsize=(14,14),labeldistance=None,legend=True,title='2018 Bicyclist Bodily Injuries due to Collision or Crash')
#

###"Bicyclists Bodily Injuries\nNYC Collisions-Crashes\n2018"

In [ ]:
#
 vzvb=sns.FacetGrid(data=vzb2018i,col='BODILY_INJURY',hue='GENDER',height=4,aspect=1.25,col_wrap=2)
vzvb.map(sns.barplot,'GENDER','AGE',order=['M','F','U'])
#plt.title("Bicyclists Bodily InjuriesY\nNYC Collisions-Crashes\n2018")

In [ ]:
#
plt.figure(figsize=(28,5))
sns.barplot(data=vzb2018i,x='BODILY_INJURY',y='AGE',hue='GENDER',order=['Unknown','Head','Neck','Shoulder-Upper Arm','Face','Eye','Elbow-Lower Arm-Hand','Chest','Abdomen-Pelvis','Entire Body','Knee-Lower Leg Foot','Back','Hip-Upper Leg','Does Not Apply'])
plt.title("Bicyclists Bodily InjuriesY\nNYC Collisions-Crashes\n2018")
plt.show()

###"Bicyclists Emotional Status\nNYC Collisions-Crashes\n2018"

In [ ]:
#
print('Emotional Status: \n',vzb2018i['EMOTIONAL_STATUS'].value_counts())

In [ ]:
#
 vzb2018i['EMOTIONAL_STATUS'].value_counts().plot.pie(figsize=(14,14),legend=True,labeldistance=None,title='2018 Bicyclist Emotional Status at Time of Collision or Crash')

In [ ]:
#
 vzvb=sns.FacetGrid(data=vzb2018i,col='EMOTIONAL_STATUS',hue='GENDER',height=4,aspect=1.25,col_wrap=2)
vzvb.map(sns.barplot,'GENDER','AGE',order=['M','F','U'])

In [ ]:
#
plt.figure(figsize=(31,5))
sns.barplot(data=vzb2018i,x='EMOTIONAL_STATUS',y='AGE',hue='GENDER',order=['Unknown','Conscious','Semiconscious','Unconscious','Shock','Incoherent','Apparent Death','Does Not Apply'])
plt.title("2018 Emotional Status of Bicyclist in a crash or Collision")
plt.show()
#Unknown seem to be soley concious

In [ ]:
#
sns.pairplot(data=vzb2018i,hue='EMOTIONAL_STATUS',palette='Spectral_r')

In [ ]:
#
print('Person Injury: \n',vzb2018i['PERSON_INJURY'].value_counts())

In [ ]:
#
 vzb2018i['PERSON_INJURY'].value_counts().sum()

In [ ]:
#
 vzb2018i['PERSON_INJURY'].value_counts().plot.pie(figsize=(14,14),legend=True,labeldistance=None,title='2018 Bicyclist Status due to Collision or Crash')

In [ ]:
#
plt.figure(figsize=(14,5))
sns.barplot(data=vzb2018i,x='PERSON_INJURY',y='AGE',hue='GENDER',order=['Killed','Injured','Unspecified'])
plt.title("2018 Injury Status of Bicyclist because of a crash or Collision")
plt.show()
#U

In [ ]:
#
print(vzb2018i['SAFETY_EQUIPMENT'].unique())

In [ ]:
#
#Total counts of Persons Injured
print('Person Injury: \n',vzb2018i['PERSON_INJURY'].value_counts())

In [ ]:
#
#Total counts by Gender of Persons Injured
print('Person Injury: \n',vzb2018i['GENDER'].value_counts().plot())

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='GENDER')

In [ ]:
#
 vzb2018i.groupby(['GENDER','PERSON_INJURY'])['AGE'].mean().sort_values(ascending=True)

In [182]:
#
#sns.plot(data=vzb2018i.groupby(['GENDER','PERSON_INJURY'])[ 'AGE'].mean().sort_values(ascending=True)

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='PERSON_INJURY',height=2.5)

In [ ]:
#
 vzb2018i.groupby(['GENDER','BODILY_INJURY'])['AGE'].mean().sort_values(ascending=True)

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='BODILY_INJURY')

In [ ]:
#
 vzb2018i.groupby(['GENDER','PED_ROLE'])['AGE'].mean().sort_values(ascending=True)

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='PED_ROLE')

In [ ]:
#
 vzb2018i.groupby(['GENDER','EMOTIONAL_STATUS'])['AGE'].mean().sort_values(ascending=True)

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='EMOTIONAL_STATUS')

In [ ]:
#
print('Bodily Injury: \n',vzb2018i['BODILY_INJURY'].value_counts())

In [ ]:
#
print('Bicyclists involved Gender count:\n',vzb2018i['GENDER'].value_counts())

In [ ]:
#
 vzb2018i['BODILY_INJURY'].value_counts().plot.pie(figsize=(14,14),legend=True,labeldistance=None,title='2018 Bicyclist Bodily Injuries due to Collision or Crash')

In [ ]:
#
plt.figure(figsize=(34,5))
sns.barplot(data=vzb2018i,x='BODILY_INJURY',y='AGE',hue='GENDER',order=['Unknown','Head','Neck','Shoulder-Upper Arm','Face','Eye','Elbow-Lower Arm-Hand','Chest','Abdomen-Pelvis','Entire Body','Knee-Lower Leg Foot','Back','Hip-Upper Leg','Does Not Apply'])
plt.title("2018 Bodily Injuries of Bicyclist in a crash or Collision")
plt.show()

In [ ]:
#
print('Emotional Status: \n',vzb2018i['EMOTIONAL_STATUS'].value_counts())

In [ ]:
#
 vzb2018i['EMOTIONAL_STATUS'].value_counts().plot.pie(figsize=(14,14),legend=True,labeldistance=None,title='2018 Bicyclist Emotional Status at Time of Collision or Crash')

In [ ]:
#
plt.figure(figsize=(24,5))
sns.barplot(data=vzb2018i,x='EMOTIONAL_STATUS',y='AGE',hue='GENDER',order=['Unknown','Conscious','Semiconscious','Unconscious','Shock','Incoherent','Apparent Death','Does Not Apply'])
plt.title("2018 Emotional Status of Bicyclist in a crash or Collision")
plt.show()
#Unknown seem to be soley conciou

In [197]:
#
#sns.pairplot(data=vzb2018i,hue='EMOTIONAL_STATUS',palette='Spectral_r')

In [ ]:
#
print('Person Injury: \n',vzb2018i['PERSON_INJURY'].value_counts())

In [ ]:
#
 vzb2018i['PERSON_INJURY'].value_counts().sum()

In [ ]:
#
 vzb2018i['PERSON_INJURY'].value_counts().plot.pie(figsize=(14,14),legend=True,labeldistance=None,title='2018 Bicyclist Status due to Collision or Crash')

In [ ]:
#
plt.figure(figsize=(14,5))
sns.barplot(data=vzb2018i,x='PERSON_INJURY',y='AGE',hue='GENDER',order=['Killed','Injured','Unspecified'])
plt.title("2018 Injury Status of Bicyclist because of a crash or Collision")
plt.show()
#U

In [ ]:
#

sns.relplot(kind='scatter',x='BODILY_INJURY',y='SAFETY_EQUIPMENT',hue='GENDER',alpha=.5,data=vzb2018i) 

plt.xticks(rotation=90)
plt.show()

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='GENDER')

In [ ]:
#
 vzb2018i.groupby(['GENDER','PERSON_INJURY'])['AGE'].mean().sort_values(ascending=True)

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='PERSON_INJURY',height=2.5)

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='BODILY_INJURY')

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='PED_ROLE')

In [ ]:
#
 sns.pairplot(data=vzb2018i,hue='EMOTIONAL_STATUS')